{{> ./include/header }}
    <h1>Hello webpack!</h1>
    <h2 class="arrow">Webpack is realy awesome!</h2>
    <div class="center">
        <button id="set-name">Set Your Name</button>
        <button id="send-ajax">Send Ajax</button>
    </div>
{{> ./include/footer }}