@import "mixins";
@import "colors";

@import "fonts";

body {
    font-family: "PT Sans", sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    width: 100%;
}

h1, h2 {
    color: $main;
    font-size: 38px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

h2 {
    color: $secondary;
    font-size: 28px;
    position: relative;

    &.arrow:after {
        position: absolute;
        top: 4px;
        margin: auto;
        content: "";
        width: 24px;
        height: 24px;
        background-image: svg-load('icon-arrow-right.svg');
        transform: rotate(180deg);
    }
}

.checkboxesList {
     background-image: url('../images/webpack-logo.png');
}

.center {
    text-align: center;
}